<!-- Banner Area
   ====================================================== -->
   <section id="home">
     <div id="particles" class="inner-particle">

           <div class="cont-area-inner">
             <div class="inner-rocket-img"><img src="img/rocket-inner.png" alt=""></div>
               <div class="heading-area">
                 <div class="container clearfix">
                    <div class="input-group col-md-8">

                    </div>
                    <div class="col-md-4">

                    </div>
                   </div>
               </div>
           </div>

           <!-- Start: Banner Bottom -->
           <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
           <!-- End: Banner Bottom -->

     </div>
   </section>
   <!-- =================================================
   Banner Area End -->


<div ng-controller="hackingZoneCtrl">
<div class="row">
  <div class="form-group col-lg-12 col-md-12">

    <!-- About Area Start
      ====================================================== -->
    <section class="about-area" id="about">

        <!-- Start: About Top -->
       <div class="about-top-area">
         <hr class="special">
         <br>
         <a ng-click="openDialogCollaborator()"><h5>+ Add a new collaborator</h5></a>
       </div>

       <!-- add new collaborators  -->
       <div class="container">
         <div  ng-repeat="collaborator in contributorslist">
           <label>@ {{collaborator.top_user}}</label>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="removecontributor(collaborator._id)">- delete</a>
         </div>
       </div>
      </section>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="form-group col-lg-12 col-md-12">
      <!-- About Area Start
        ====================================================== -->
      <section class="about-area" id="about">

          <!-- Start: About Top -->
         <div class="about-top-area">
           <hr class="special">
           <br>
           <a ng-click="openDialogResource()"><h5>+ Add a new resource (bitbucket, github, asana, etc...)</h5></a>
         </div>

         <!-- add new resource  -->
         <div class="container">
           <div  ng-repeat="resource in resourcelist">
             <label>{{resource.resource_name}}</label>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="removeresource(resource._id)">- delete</a>
           </div>
         </div>
       </section>
   </div>
</div>
<br>
<br>
<div class="row">
  <div class="form-group col-lg-12 col-md-12">
    <!-- About Area Start
      ====================================================== -->
    <section class="about-area" id="about">

        <!-- Start: About Top -->
       <div class="about-top-area">
         <hr class="special">
         <br>
         <a ng-click="addnewtab()"><h5>+ Add a new tab</h5></a>
       </div>


      <!-- tab container -->
       <div class="container">

        <div role="tabpanel">
          <!-- Start: Tab Area -->
         <div class="col-md-12 about-tab animated visible" data-animation="fadeInUp" data-animation-delay="400">
         <div class="row">
           <div class="col-md-2">
             <div id="tab-container" ng-init="tabIndex = 1">
               <ul class="nav nav-pills nav-stacked">
                 <li ng-repeat="tabs in notelist" ng-class="{'active': tabIndex === $index}">
                   <a ng-click="tabIndex = {{$index}}">{{tabs.tab_name}}<span ng-click="removetab(tabs._id)">-</span></a>
                 </li>
              <!--   <li role="presentation" ng-click="addnewtab()">
                   <a aria-controls="home" role="tab" data-toggle="tab" >( + )</a>
                 </li>-->
              <!-- <a>  href="{{'#tab' + $index}}" </a>  <li><a data-toggle="tab" href="#tab1">tab 1</a></li>-->
              </ul>
            </div>
          </div>
          <div class="col-md-10">
            <div class="panel-container">
              <div ng-repeat="tabs in notelist" class="tab-cont clearfix" ng-class="{'active': tabIndex === $index}" ng-show="tabIndex === {{$index}}">
                <textarea class="form-control" rows="7" id="content" ng-model="note.tab_content" >{{tab.tab_content}}</textarea>
                <label>tab name:  </label><input type="text" value="{{note.tab_name}}" ng-model="note.tab_name" ><button ng-click="updatetab(tabs)">save</button>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
</section>

  </div>
</div>
