<br>
<br>
<br>
<br>
<div ng-controller="hackingZoneCtrl">
<div class="row">
  <div class="form-group col-lg-8 col-md-8">
    <a ng-click="openDialogCollaborator()">+ Add a new collaborator</a>
    <!-- add new collaborators  -->
    <div  ng-repeat="collaborator in contributorslist">
      <label>@ {{collaborator.top_user}}</label>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
    <div class="form-group col-lg-8 col-md-8">
      <a ng-click="openDialogCollaborator()">+ Add a new resource (bitbucket, github, asana, etc...)</a>
      <!-- add new resource  -->
      <div  ng-repeat="resource in resourcelist">
        <label>{{resource.resource_name}}</label>
      </div>

    </div>
</div>
<br>
<br>
<div class="row">
    <div class="form-group col-lg-8 col-md-8">

      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-target="#home, #home_else" data-toggle="tab">Content</a></li>
        <li><a href="#profile" data-target="#profile, #profile_else" data-toggle="tab">+</a></li>
      </ul>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <p>Content 1.</p>
        </div>
        <div class="tab-pane fade" id="profile">
          <p>Content 2.</p>
        </div>
      </div>

      <hr>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home_else">
          <p>Content 111.</p>
        </div>
        <div class="tab-pane fade" id="profile_else">
          <p>Content 2222.</p>
        </div>
      </div>

    </div>
</div>
</div>
