<!-- Preloader Area Start
====================================================== -->
<!--  <div id="mask">
    <div id="loader">
    </div>
  </div>-->
  <!-- =================================================
  Preloader Area End -->




<!-- Banner Area
====================================================== -->
  <section id="home">
    <div id="particles">
      <div class="cont-area">
        <div class="container banner-area">
          <!-- Start: Slider Container -->
          <!--<ul class="slides clearfix">


          <li>
            <h1>Suite For Your Business</h1>
            <h5>Be one step ahead of your competitors</h5>
            <a href="#" class="button-large">Order Now</a>
          </li>


        </ul>-->
        <!-- End: Slider Container -->
      </div>
    </div>

    <!-- Start: Banner Bottom -->
    <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
    <!-- End: Banner Bottom -->

  </div>
</section>
<!-- =================================================
Banner Area End -->

<!-- About Area Start
====================================================== -->
  <section class="about-area" id="about">

    <!-- Start: About Top -->
    <div class="about-top-area">
      <div class="container">

        <!-- Start Top Image -->
        <div class="top-float-img"><div class="image-container"><img src="img/rocket.png" alt=""></div></div>
      </div>

    	<!-- End: About Top -->
    </section>
    <!-- =================================================
    About Area End -->



<!--<br>-->
<!--<div class="row">

  <div ng-controller="loginCtrl">
    <div class="form-group col-lg-8 col-md-8">
      <h3>Please login before you start checking our material:</h3>

      <div>
        <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name}}</div>
        <div class="alert alert-warning" data-ng-show="byebye">Bye bye :'(</div>
      </div>

      <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
      <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>

      <div>
        <debug val="user"></debug>
      </div>
    </div>
  </div>
</div>-->
