<!-- Banner Area
   ====================================================== -->
   <section id="home">
     <div id="particles" class="inner-particle">

           <div class="cont-area-inner">
             <div class="inner-rocket-img"><img src="img/rocket-inner.png" alt=""></div>
               <div class="heading-area">
                 <div class="container clearfix">
                    <div class="input-group col-md-8">

                    </div>
                    <div class="col-md-4">

                    </div>
                   </div>
               </div>
           </div>

           <!-- Start: Banner Bottom -->
           <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
           <!-- End: Banner Bottom -->

     </div>
   </section>
   <!-- =================================================
   Banner Area End -->
<br>
<div class="container">
  <div class="row">
    <form>
      <!-- title field -->
      <div class="form-group col-lg-8 col-md-8">
        <label for="clasification">proyects and clasificate:</label>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="project.classification" ng-vale="1" checked>
            1. In progress and with opotunity to participate.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="project.classification" ng-vale="2">
            2. Finished but not mature and with opotunity to add your own work.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" ng-model="project.classification" ng-vale="3">
            3. Finished and mature project, ready to use.
          </label>
        </div>
      </div>
    </form>
  </div>
<div class="row">
  <form>
    <!-- title field -->
    <div class="form-group col-lg-8 col-md-8">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" ng-model="project.project_title" placeholder="title for the project">
    </div>
  </form>
</div>
<div class="row">
  <form>
    <!-- overview field -->
    <div class="form-group col-lg-12 col-md-12">
      <label for="overview">Overview:</label>
      <textarea class="form-control"  rows="4" id="overview" ng-model="project.project_overview" placeholder="poverview for the project"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>
    <!-- content field -->
    <div class="form-group col-lg-12 col-md-12">
      <label for="content">Content:</label>
      <textarea class="form-control"  rows="7" id="content" ng-model="project.project_content" placeholder="content for the project"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>
    <!-- private field -->
    <div class="form-group col-lg-12 col-md-12">
      <label for="private">Private:</label>
      <textarea class="form-control"  rows="3" id="private" ng-model="project.project_private" placeholder="private section"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>
    <!-- title field -->
    <div class="form-group col-lg-8 col-md-8">
      <label for="price">Price:</label>
      <input type="text" class="form-control" id="cost" ng-model="project.project_price" placeholder="$">
    </div>
  </form>
</div>
<div class="row">
  <form>
    <!-- content field -->
    <div class="form-group col-lg-8 col-md-8">
      <button class="btn btn-primary btn-large" ng-click="addnewproject(project)" ui-sref="projects" >Create</button>
      <button class="btn btn-alert btn-large" ui-sref="projects">Cancel</button>
    </div>
  </form>
</div>
</div>

<!--<div class="row">
  <form>
    <div class="form-group col-lg-8 col-md-8">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" ng-model="project.project_title" placeholder="title for the project">
    </div>
  </form>
</div>
<div class="row">
  <form>
    <div class="form-group col-lg-8 col-md-8">
      <label for="overview">Overview:</label>
      <textarea class="form-control"  rows="4" id="overview" ng-model="project.project_overview" placeholder="poverview for the project"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>
    <div class="form-group col-lg-8 col-md-8">
      <label for="content">Content:</label>
      <textarea class="form-control"  rows="7" id="content" ng-model="project.project_content" placeholder="content for the project"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>
    <div class="form-group col-lg-8 col-md-8">
      <label for="private">Private:</label>
      <textarea class="form-control"  rows="3" id="private" ng-model="project.project_private" placeholder="private section"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>
    <div class="form-group col-lg-8 col-md-8">
      <label for="price">Price:</label>
      <input type="text" class="form-control" id="cost" ng-model="project.project_price" placeholder="$">
    </div>
  </form>
</div>
<div class="row">
  <form>
    <div class="form-group col-lg-8 col-md-8">
      <button ng-click="addnewproject(project)" ui-sref="projects" >Create</button>
      <button ui-sref="projects">Cancel</button>
    </div>
  </form>
</div>-->
