<br>
<br>
<br>
<br>
<div class="row" ng-class="wstyle">
    <div class="form-group col-lg-8 col-md-8">
      <h2 class="wstylet">{{project.project_title}}</h2>
      <p class="wstyleo">{{project.project_overview}}</p>
      <p class="wstylec">{{project.project_content}}</p>
    </div>
</div>
<div class="row">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Styles:</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a ng-click="changeStyle1()">style 1</a></li>
        <li><a ng-click="changeStyle2()">style 2</a></li>
        <li><a ng-click="changeStyle3()">style 3</a></li>
      </ul>
    </div>
  </div>
  </nav>
</div>
