<br>
<br>
<br>
<br>
<div class="row">
  <!-- add a new project -->
  <div class="form-group col-lg-8 col-md-8">
    <a ui-sref="newproject">+ Add a new project</a>
  </div>
</div>
<hr>
<!-- show the projects -->
<div ng-repeat="project in projectlist">
  <div class="row">
    <!-- project -->
    <div class="form-group col-lg-8 col-md-8  panel panel-default">
      <p>
        Created on:<time>17th March</time>
      </p>
      <article>
        <h2>{{project.project_title}}</h2>
        <p>{{project.project_overview}}</p>
      </article>
      <p>
        <input type="button" value="edit" ng-click="edit(project._id)" ui-sref="saveproject">
        <input type="button" value="delete"  ng-click="remove(project._id)">
        <input type="checkbox" id="s3">
        <label for="s3">show</label>
      </p>
    </div>
  </div>
</div> <!-- end show the projects -->
