
<!-- show the projects -->
<!--<div ng-repeat="project in projectlist">
  <div class="row">

    <div class="form-group col-lg-8 col-md-8  panel panel-default">
      <p>
        Last update:<time>{{project.project_last_update | date:'medium'}}</time>  -  Created on:<time>{{project.project_created_on | date:'medium'}}</time>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button ui-sref="hackingzone">Hacking zone project</button>
      </p>
      <article>
        <h2>{{project.project_title}}</h2>
        <p>{{project.project_overview}}</p>
      </article>
      <p>
        <label for="s3">show: </label>
        <input type="checkbox" id="s3">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;rate: &nbsp;</label>5
        <br>
        <input type="button" value="edit" ng-click="edit(project._id)" ui-sref="saveproject">
        <input type="button" value="preview" ng-click="edit(project._id)" ui-sref="preview">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" value="delete"  ng-click="remove(project._id)">
      </p>
    </div>
  </div>
</div>--> <!-- end show the projects -->

<!-- Banner Area
   ====================================================== -->
   <section id="home">
     <div id="particles" class="inner-particle">

           <div class="cont-area-inner">
             <div class="inner-rocket-img"><img src="img/rocket-inner.png" alt=""></div>
               <div class="heading-area">
               </div>
           </div>

           <!-- Start: Banner Bottom -->
           <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
           <!-- End: Banner Bottom -->

     </div>
   </section>
   <!-- =================================================
   Banner Area End -->
<br>
<br>

<div class="row container">
  <div class="col-md-6 add-project-section">
    <!-- right side -->
    <h6><a ui-sref="newproject">+ Add a new project</a></h6>
    <br><br>
    <button type="button" class="btn btn-primary btn-large button-project-section-width" ng-click="edit(project._id)" ui-sref="saveproject">Edit</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-large button-project-section-width" ng-click="remove(project._id)" >Delete</button>

  </div>
  <div class="col-md-6">
    <!-- show the projects -->
    <div ng-repeat="project in projectlist">
      <!-- project -->
      <!-- Blog Area Start
      ====================================================== -->
      <section class="our-blog-home text-center">
        <div class="blog-home-cont">
          <div class="heading-container visible" data-animation="fadeIn" data-animation-delay="200"><h4><i class="fa fa-bullhorn"></i> <i>{{project.project_title}}</i></h4></div>
            <ul class="blog-conts">

              <!-- Start: Blog 01 -->
              <li class="animated visible" data-animation="fadeInUp" data-animation-delay="200">
                <!--<div class="blog-date"><span>17</span>Dec</div>-->
                <div class="blog-texts">
                  <h5>{{project.project_overview}}</h5>
                  <p class="blog-by">Posted By : Anju Droach in Web Designing</p>
                  <div><span>Last update:<time>{{project.project_last_update | date:'medium'}}</time>  -  Created on:<time>{{project.project_created_on | date:'medium'}}</span></div>
                </div>
              </li>
            	<!-- End: Blog 01 -->
            </ul>
            <!-- Start: View More Button -->
            <label for="s3">show: </label>
            <input type="checkbox" id="s3">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;rate: &nbsp;</label>5
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br><br>
            <div class="blog-view-more animated visible" data-animation="fadeIn" data-animation-delay="200"><a href="#" class="view-more" ng-click="edit(project._id)" ui-sref="hackingzone">Preview</a></div>
                <!-- End: View More Button -->
          </div>
        </section>
        <!-- =================================================
        Blog Area End -->
    </div>

  </div>
</div>
