<!-- Banner Area
   ====================================================== -->
   <section id="home" ng-init="refreshProjectListHtml()">
     <div id="particles" class="inner-particle">

           <div class="cont-area-inner">
             <div class="inner-rocket-img"><img src="img/rocket-inner.png" alt=""></div>
               <div class="heading-area">
               </div>
           </div>

           <!-- Start: Banner Bottom -->
           <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
           <!-- End: Banner Bottom -->

     </div>
   </section>
   <!-- =================================================
   Banner Area End -->
<br>
<br>

<div class="row container">
  <div class="col-md-6 add-project-section">
    <!-- right side -->
    <h6><a ui-sref="newproject">+ Add a new project</a></h6>
    <br>
    <button type="button" class="btn btn-primary btn-large button-project-section-width text-center" ng-click="edit()" ui-sref="saveproject">Edit</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-large button-project-section-width text-center" ng-click="remove()" >Delete</button>
    <br><br>
    <!-- Style forms Area
       ====================================================== -->
    <section>
      <div class="row">
        <div class="animated visible text-center" data-animation="fadeInUp" data-animation-delay="400"><h6>&quot; Choose a style for your project. &quot;</h6></div>
        <nav class="nav-main text-center-justify">
          <ul class="menu-cont">
            <li  data-ng-click="style_css.item = 'solid'">
              <a ng-model="project.project_style" ng-vale="solid" data-ng-class="{'active' : style_css.item == 'solid'}"
                href="views/stylesolid/solid.html#/page?proyect_title={{project.project_title}}&proyect_overview={{project.project_overview}}&proyect_content={{project.project_content}}&project.project_price={{project.project_cost}}&proyect_collaborators={{ proyect_collaborators }}"
                class="btn btn-primary btn-large" target="_blank">Solid style</a>
            </li>
            <li data-ng-click="style_css.item = 'plain'">
              <a ng-model="project.project_style" ng-vale="plain" data-ng-class="{'active' : style_css.item == 'plain'}"
                href="views/styleplain/plain.html#/page?proyect_title={{project.project_title}}&proyect_overview={{project.project_overview}}&proyect_content={{project.project_content}}&project.project_price={{project.project_cost}}&proyect_collaborators={{ proyect_collaborators }}"
                class="btn btn-primary btn-large" target="_blank">Plain style</a>
            </li>
            <li data-ng-click="style_css.item = 'primary'">
              <a ng-model="project.project_style" ng-vale="primary" data-ng-class="{'active' : style_css.item == 'primary'}"
                href="views/styleprimary/primary.html#/page?proyect_title={{project.project_title}}&proyect_overview={{project.project_overview}}&proyect_content={{project.project_content}}&project.project_price={{project.project_cost}}&proyect_collaborators={{ proyect_collaborators }}"
                class="btn btn-primary btn-large" target="_blank">Primary style</a>
            </li>
          </ul>
        </nav>
      </div>
    </section> <!-- end of section for styles -->
  </div>
  <div class="col-md-6">
    <!-- show the projects -->
    <div ng-repeat="project in projectlist">
      <!-- project -->
      <!-- Blog Area Start
      ====================================================== -->
      <section class="our-blog-home text-center">
        <div class="blog-home-cont">
          <div class="heading-container visible" data-animation="fadeIn" data-animation-delay="200"><h4><i class="fa fa-bullhorn"></i> <i>{{project.project_title}} - ( {{project.classification}} )</i></h4></div>
            <ul class="blog-conts">
              <a class="tab-cont-right" ng-class="{'activeProjectLabel': isSelectedProjectLabel($index)}"
                  ng-click="selectProjectLabel($index, project)">
                <i ng-class="classLabelFa($index, project)"></i>&nbsp;&nbsp;Select</a>
              <br>
              <!-- Start: Blog 01 -->
              <li class="animated visible" data-animation="fadeInUp" data-animation-delay="200">
                <!--<div class="blog-date"><span>17</span>Dec</div>-->
                <div class="blog-texts">
                  <h5>{{project.project_overview}}</h5>
                  <p class="blog-by">Posted By : Anju Droach in Web Designing</p>
                  <div><span>Last update:<time>{{project.project_last_update | date:'medium'}}</time>  -  Created on:<time>{{project.project_created_on | date:'medium'}}</span></div>
                </div>
              </li>
            	<!-- End: Blog 01 -->
            </ul>
            <!-- Start: View More Button -->
            <label for="s3">show: </label>
            <input type="checkbox" id="s3">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;rate: &nbsp;</label>5
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br><br>
            <div class="blog-view-more animated visible" data-animation="fadeIn" data-animation-delay="200"><a href="#" class="view-more" ng-click="select(project._id)" ui-sref="hackingzone">Hacking Zone</a></div>
                <!-- End: View More Button -->
          </div>
        </section>
        <!-- =================================================
        Blog Area End -->
    </div>

  </div>
</div>
