!-- Banner Area
   ====================================================== -->
   <section id="home">
     <div id="particles" class="inner-particle">

           <div class="cont-area-inner">
             <div class="inner-rocket-img"><img src="img/rocket-inner.png" alt=""></div>
               <div class="heading-area">
                 <div class="container clearfix">
                    <div class="input-group col-md-8">

                    </div>
                    <div class="col-md-4">

                    </div>
                   </div>
               </div>
           </div>

           <!-- Start: Banner Bottom -->
           <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
           <!-- End: Banner Bottom -->

     </div>
   </section>
   <!-- =================================================
   Banner Area End -->
   <div class="row">
     <!-- Style forms Area
        ====================================================== -->
        <section class="text-center">
          <div class="row">
            <div class="container">
               <div class="medium-txt animated visible" data-animation="fadeInUp" data-animation-delay="400">&quot; Choose a style for your project. &quot;</div>
            </div>
            <br>
            <nav class="nav-main text-center">
              <ul class="menu-cont">
                <li  data-ng-click="style_css.item = 'solid'">
                  <a ng-model="project.project_style" ng-vale="solid" data-ng-class="{'active' : style_css.item == 'solid'}"
                    href="views/stylesolid/solid.html#/page?proyect_title={{project.project_title}}&proyect_overview={{project.project_overview}}&proyect_content={{project.project_content}}&project.project_price={{project.project_cost}}&proyect_collaborators={{ proyect_collaborators }}"
                    class="btn btn-primary btn-large" target="_blank">Solid style</a>
                </li>
                <li data-ng-click="style_css.item = 'plain'">
                  <a ng-model="project.project_style" ng-vale="plain" data-ng-class="{'active' : style_css.item == 'plain'}"
                    href="views/styleplain/plain.html#/page?proyect_title={{project.project_title}}&proyect_overview={{project.project_overview}}&proyect_content={{project.project_content}}&project.project_price={{project.project_cost}}&proyect_collaborators={{ proyect_collaborators }}"
                    class="btn btn-primary btn-large" target="_blank">Plain style</a>
                </li>
                <li data-ng-click="style_css.item = 'primary'">
                  <a ng-model="project.project_style" ng-vale="primary" data-ng-class="{'active' : style_css.item == 'primary'}"
                    href="views/styleprimary/primary.html#/page?proyect_title={{project.project_title}}&proyect_overview={{project.project_overview}}&proyect_content={{project.project_content}}&project.project_price={{project.project_cost}}&proyect_collaborators={{ proyect_collaborators }}"
                    class="btn btn-primary btn-large" target="_blank">Primary style</a>
                </li>
              </ul>
            </nav>
          </div>
        </section>
     <br>
     <br>
     <!-- =================================================
     Style forms Area End -->
   </div>
<br>
<br>
<div class="container">
<div class="row">
  <form>
    <!-- title field -->
    <div class="form-group col-lg-8 col-md-8">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" ng-model="project.project_title" placeholder="title for the project">
    </div>
  </form>
</div>
<div class="row">
  <!-- Style forms Area
     ====================================================== -->
  <section class="text-center">
    <div class="row">
      <div class="container">
         <div class="medium-txt animated visible" data-animation="fadeInUp" data-animation-delay="400">&quot; Choose a style for your project. &quot;</div>
        <p>
          <a
            href="views/stylesolid/solid.html#/page?proyect_title={{project.project_title}}&proyect_overview={{project.project_overview}}&proyect_content={{project.project_content}}&project.project_price={{project.project_cost}}&proyect_collaborators={{ proyect_collaborators }}"
            class="btn btn-primary btn-large" target="_blank">Solid style</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a
            href="views/styleplain/plain.html#/page?proyect_title={{project.project_title}}&proyect_overview={{project.project_overview}}&proyect_content={{project.project_content}}&project.project_price={{project.project_cost}}&proyect_collaborators={{ proyect_collaborators }}"
            class="btn btn-primary btn-large" target="_blank">Plain style</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a
            href="views/styleprimary/primary.html#/page?proyect_title={{project.project_title}}&proyect_overview={{project.project_overview}}&proyect_content={{project.project_content}}&project.project_price={{project.project_cost}}&proyect_collaborators={{ proyect_collaborators }}"
            class="btn btn-primary btn-large" target="_blank">Primary style</a>
        </p>
      </div>
    </div>
  </section>
  <br>
  <br>
  <!-- =================================================
  Style forms Area End -->
</div>
<div class="row">
  <form>
    <!-- overview field -->
    <div class="form-group col-lg-12 col-md-12">
      <label for="overview">Overview:</label>
      <textarea class="form-control"  rows="4" id="overview" ng-model="project.project_overview" placeholder="poverview for the project"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>
    <!-- content field -->
    <div class="form-group col-lg-12 col-md-12">
      <label for="content">Content:</label>
      <textarea class="form-control"  rows="7" id="content" ng-model="project.project_content" placeholder="content for the project"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>
    <!-- private field -->
    <div class="form-group col-lg-12 col-md-12">
      <label for="private">Private:</label>
      <textarea class="form-control"  rows="3" id="private" ng-model="project.project_private" placeholder="private section"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>
    <!-- title field -->
    <div class="form-group col-lg-8 col-md-8">
      <label for="price">Price:</label>
      <input type="text" class="form-control" id="cost" ng-model="project.project_price" placeholder="$">
    </div>
  </form>
</div>
<div class="row">
  <form>
    <!-- content field -->
    <div class="form-group col-lg-8 col-md-8">
      <button class="btn btn-primary btn-large" ng-click="addnewproject(project)" ui-sref="projects" >Save</button>
      <button class="btn btn-alert btn-large" ui-sref="projects">Cancel</button>
    </div>
  </form>
</div>
</div>
<!--<div class="row">
  <form>

    <div class="form-group col-lg-8 col-md-8">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" ng-model="project.project_title" placeholder="title for the project">
    </div>
  </form>
</div>
<div class="row">
  <form>

    <div class="form-group col-lg-8 col-md-8">
      <label for="overview">Overview:</label>
      <textarea class="form-control"  rows="4" id="overview" ng-model="project.project_overview" placeholder="poverview for the project"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>

    <div class="form-group col-lg-8 col-md-8">
      <label for="content">Content:</label>
      <textarea class="form-control"  rows="7" id="content" ng-model="project.project_content" placeholder="content for the project"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>

    <div class="form-group col-lg-8 col-md-8">
      <label for="private">Private:</label>
      <textarea class="form-control"  rows="3" id="private" ng-model="project.project_private" placeholder="private section"></textarea>
    </div>
  </form>
</div>
<div class="row">
  <form>

    <div class="form-group col-lg-8 col-md-8">
      <label for="price">Price:</label>
      <input type="text" class="form-control" id="cost" ng-model="project.project_price" placeholder="$">
    </div>
  </form>
</div>
<div class="row">
  <form>

    <div class="form-group col-lg-8 col-md-8">
      <button ng-click="update()" ui-sref="projects">Save</button>
      <button ui-sref="projects">Cancel</button>
    </div>
  </form>
</div>-->
