<!-- Banner Area
   ====================================================== -->
   <section id="home">
     <div id="particles" class="inner-particle">

           <div class="cont-area-inner">
             <div class="inner-rocket-img"><img src="img/rocket-inner.png" alt=""></div>
               <div class="heading-area">
                 <div class="container clearfix">
                    <div class="input-group col-md-8">
                      <input type="text" class="form-control" placeholder="search" id="search" ng-model="search.text_search">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="search()" ><label class="fa fa-search"></label></button>
                      </span>
                    </div>
                    <div class="col-md-4">
                           <!--<ul class="breadcrumbs-inner">
                               <li class="active"><a href="index.html">Home</a></li>
                               <li>About Us</li>-->
                    </div>
                   </div>
               </div>
           </div>

           <!-- Start: Banner Bottom -->
           <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
           <!-- End: Banner Bottom -->

     </div>
   </section>
   <!-- =================================================
   Banner Area End -->


<!--<br>
<br>
<br>
<br>
<div class="row">
  <form>
    <div class="form-group col-lg-8 col-md-8">
      <label for="search">Search:</label>
      <input type="text" class="form-control" id="search" ng-model="search.text_search">
      <input type="submit" value="Search"  ng-click="search()" >
    </div>
  </form>
</div>-->

<!-- search results -->
<div ng-repeat="find in findresults">
  <div class="row">
    <div class="col-lg-8 col-md-8">

             <article class="card__article">
                   <h3>{{find.project_title}}</h3> <a ng-click="edit(find._id)" ui-sref="viewproject">View</a>
                   <h4>{{find.project_overview}}</h4>
                   <h4>rate: {{rate}}</h4>
                   <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Collaborators
                       <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                       <li><a href="#">Collaborator 1</a></li>
                       <li><a href="#">Collaborator 2</a></li>
                     </ul>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <input type="button" value="buy $" ui-sref="pay">
                   </div>
              </article>

    </div>
  </div>
</div>
