<!-- Banner Area
   ====================================================== -->
   <section id="home">
     <div id="particles" class="inner-particle">

           <div class="cont-area-inner">
             <div class="inner-rocket-img"><img src="img/rocket-inner.png" alt=""></div>
             <div class="heading-area">
              </div>
           </div>

           <!-- Start: Banner Bottom -->
           <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
           <!-- End: Banner Bottom -->

     </div>
   </section>
   <!-- =================================================
   Banner Area End -->


<!--<br>
<br>
<br>
<br>
<div class="row">
  <form>
    <div class="form-group col-lg-8 col-md-8">
      <label for="search">Search:</label>
      <input type="text" class="form-control" id="search" ng-model="search.text_search">
      <input type="submit" value="Search"  ng-click="search()" >
    </div>
  </form>
</div>-->

<div class="row container">
  <div class="col-md-6">
    <h6>News</h6>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search the project" id="search" ng-model="search.text_search" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2"><label class="fa fa-search"></label></span>
    </div>

    <!-- search results -->
    <div ng-repeat="find in findresults">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <!-- Blog Area Start
              ====================================================== -->
              <section class="our-blog-home text-center">
              	<div class="container clearfix">
                      <div class="blog-home-cont">
                      	<div class="heading-container visible" data-animation="fadeIn" data-animation-delay="200"><h4><i class="fa fa-bullhorn"></i> <i>{{find.project_title}}</i></h4></div>
                          <ul class="blog-conts">

                          	<!-- Start: Blog 01 -->
                          	<li class="animated visible" data-animation="fadeInUp" data-animation-delay="200">
                              	<!--<div class="blog-date"><span>17</span>Dec</div>-->
                                  <div class="blog-texts">
                                  	<h5>{{find.project_overview}}</h5>
                                      <p class="blog-by">Posted By : Anju Droach in Web Designing</p>
                                      <div><span>Last update:<time>{{find.project_last_update | date:'medium'}}</time>  -  Created on:<time>{{find.project_created_on | date:'medium'}}</span></div>
                                      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                                      <p>rate: {{find.rate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="dropdown">
                                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Collaborators
                                            <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li><a href="#">Collaborator 1</a></li>
                                            <li><a href="#">Collaborator 2</a></li>
                                          </ul>
                                        </div>
                                      </p>
                                  </div>
                              </li>
                          	<!-- End: Blog 01 -->

                          </ul>
                          <!-- Start: View More Button -->

                          <div class="blog-view-more animated visible" data-animation="fadeIn" data-animation-delay="200"><a href="#" class="view-more">buy $</a></div>

                          <!-- End: View More Button -->
                      </div>
                  </div>
              </section>
              <!-- =================================================
              Blog Area End -->

    <!--
                 <article class="card__article">
                       <h3>{{find.project_title}}</h3> <a ng-click="edit(find._id)" ui-sref="viewproject">View</a>
                       <h4>{{find.project_overview}}</h4>
                       <h4>rate: {{rate}}</h4>
                       <div class="dropdown">
                         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Collaborators
                           <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu">
                           <li><a href="#">Collaborator 1</a></li>
                           <li><a href="#">Collaborator 2</a></li>
                         </ul>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <input type="button" value="buy $" ui-sref="pay">
                       </div>
                  </article>-->

        </div>
      </div>
    </div>

  </div>
</div>
