<!-- Banner Area
   ====================================================== -->
   <section id="home">
     <div id="particles" class="inner-particle">

           <div class="cont-area-inner">
             <div class="inner-rocket-img"><img src="img/rocket-inner.png" alt=""></div>
               <div class="heading-area">
                 <div class="container clearfix">
                    <div class="input-group col-md-8">

                    </div>
                    <div class="col-md-4">

                    </div>
                   </div>
               </div>
           </div>

           <!-- Start: Banner Bottom -->
           <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
           <!-- End: Banner Bottom -->

     </div>
   </section>
   <!-- =================================================
   Banner Area End -->


   <!-- About Area Start
       ====================================================== -->
       <section class="about-main">
       	<div class="container">

                <!-- Start: Tab Area -->
                   <div class="col-md-12 about-tab animated visible" data-animation="fadeInUp" data-animation-delay="400">
                   	<div id="tab-container">
                       	<ul class="etabs clearfix">
                           	<li class="tab active"><a href="#tab-01" class="active"><i class="fa fa-angellist"></i> Our Vision</a></li>
                           	<li class="tab"><a href="#tab-02"><i class="fa fa-trophy"></i> Our Mission</a></li>
                           	<li class="tab"><a href="#tab-03"><i class="fa fa-question-circle"></i> Who We Are?</a></li>
                           	<li class="tab"><a href="#tab-04"><i class="fa fa-map-marker"></i> Reach Us</a></li>
                           </ul>
                           <div class="panel-container">
                           	<!-- Start: Tab 01 -->
                           	<div id="tab-01" class="tab-cont clearfix active">
                               	<div class="tab-cont-right">
                                   	<img src="img/icon-04.png" alt="">
                                   </div>
                               	<div class="tab-cont-left">
                                   	<h6>Lipsum Manora Beegam</h6>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio pellentesin condimentum odio pellentesque a. Nulla facilisi. Aliquam in justo non libero faucique a. Nulla facilisi. Aliquam in justo non libero faucibus venenatis sed et quam.</p>
                                   </div>
                               </div>
                           	<!-- End: Tab 01 -->

                           	<!-- Start: Tab 02 -->
                           	<div id="tab-02" class="tab-cont clearfix">
                               	<div class="tab-cont-right">
                                   	<img src="img/icon-01.png" alt="">
                                   </div>
                               	<div class="tab-cont-left">
                                   	<h6>Lipsum Manora Beegam</h6>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio pellentesin condimentum odio pellentesque a. Nulla facilisi. Aliquam in justo non libero faucique a. Nulla facilisi. Aliquam in justo non libero faucibus venenatis sed et quam.</p>
                                   </div>
                               </div>
                           	<!-- End: Tab 02 -->

                           	<!-- Start: Tab 03 -->
                           	<div id="tab-03" class="tab-cont clearfix">
                               	<div class="tab-cont-right">
                                   	<img src="img/icon-02.png" alt="">
                                   </div>
                               	<div class="tab-cont-left">
                                   	<h6>Lipsum Manora Beegam</h6>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio pellentesin condimentum odio pellentesque a. Nulla facilisi. Aliquam in justo non libero faucique a. Nulla facilisi. Aliquam in justo non libero faucibus venenatis sed et quam.</p>
                                   </div>
                               </div>
                           	<!-- End: Tab 03 -->

                           	<!-- Start: Tab 04 -->
                           	<div id="tab-04" class="tab-cont clearfix">
                               	<div class="tab-cont-right">
                                   	<img src="img/icon-03.png" alt="">
                                   </div>
                               	<div class="tab-cont-left">
                                   	<h6>Lipsum Manora Beegam</h6>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio pellentesin condimentum odio pellentesque a. Nulla facilisi. Aliquam in justo non libero faucique a. Nulla facilisi. Aliquam in justo non libero faucibus venenatis sed et quam.</p>
                                   </div>
                               </div>
                           	<!-- End: Tab 04 -->
                           </div>
                       </div>
                   </div>
                   <!-- End: Tab Area -->
               </div>

           </div>
       </section>
       <!-- =================================================
       About Area End -->

       <!-- About Area Start
    ====================================================== -->
    <section class="about-main">
    	<div class="container">

        	<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="200">
            	<p>&quot; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio dolor sit amet, consectetur dolor sit amet  pellentesque libero. &quot;</p>
            </div>

            <div class="row col-content clearfix">
            	<!-- Start: Story Area -->
                <div class="col-md-4 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
                	<h4>The Story</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue.</p>
                    <p>Praesent vulputate dolor velit, in condimentum odio pellentesque ulputate libero.</p>
                </div>
            	<!-- Start: Story Area -->

                <!-- Start: Tab Area -->
                <div class="col-md-8 about-tab animated" data-animation="fadeInUp" data-animation-delay="400">
                	<div id="tab-container">
                    	<ul class="etabs clearfix">
                        	<li class="tab active"><a href="#tab-01" class="active"><i class="fa fa-angellist"></i> Our Vision</a></li>
                        	<li class="tab"><a href="#tab-02"><i class="fa fa-trophy"></i> Our Mission</a></li>
                        	<li class="tab"><a href="#tab-03"><i class="fa fa-question-circle"></i> Who We Are?</a></li>
                        	<li class="tab"><a href="#tab-04"><i class="fa fa-map-marker"></i> Reach Us</a></li>
                        </ul>
                        <div class="panel-container">
                        	<!-- Start: Tab 01 -->
                        	<div id="tab-01" class="tab-cont clearfix active">
                            	<div class="tab-cont-right">
                                	<img src="img/icon-04.png" alt="">
                                </div>
                            	<div class="tab-cont-left">
                                	<h6>Lipsum Manora Beegam</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio pellentesin condimentum odio pellentesque a. Nulla facilisi. Aliquam in justo non libero faucique a. Nulla facilisi. Aliquam in justo non libero faucibus venenatis sed et quam.</p>
                                </div>
                            </div>
                        	<!-- End: Tab 01 -->

                        	<!-- Start: Tab 02 -->
                        	<div id="tab-02" class="tab-cont clearfix">
                            	<div class="tab-cont-right">
                                	<img src="img/icon-01.png" alt="">
                                </div>
                            	<div class="tab-cont-left">
                                	<h6>Lipsum Manora Beegam</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio pellentesin condimentum odio pellentesque a. Nulla facilisi. Aliquam in justo non libero faucique a. Nulla facilisi. Aliquam in justo non libero faucibus venenatis sed et quam.</p>
                                </div>
                            </div>
                        	<!-- End: Tab 02 -->

                        	<!-- Start: Tab 03 -->
                        	<div id="tab-03" class="tab-cont clearfix">
                            	<div class="tab-cont-right">
                                	<img src="img/icon-02.png" alt="">
                                </div>
                            	<div class="tab-cont-left">
                                	<h6>Lipsum Manora Beegam</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio pellentesin condimentum odio pellentesque a. Nulla facilisi. Aliquam in justo non libero faucique a. Nulla facilisi. Aliquam in justo non libero faucibus venenatis sed et quam.</p>
                                </div>
                            </div>
                        	<!-- End: Tab 03 -->

                        	<!-- Start: Tab 04 -->
                        	<div id="tab-04" class="tab-cont clearfix">
                            	<div class="tab-cont-right">
                                	<img src="img/icon-03.png" alt="">
                                </div>
                            	<div class="tab-cont-left">
                                	<h6>Lipsum Manora Beegam</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio pellentesin condimentum odio pellentesque a. Nulla facilisi. Aliquam in justo non libero faucique a. Nulla facilisi. Aliquam in justo non libero faucibus venenatis sed et quam.</p>
                                </div>
                            </div>
                        	<!-- End: Tab 04 -->
                        </div>
                    </div>
                </div>
                <!-- End: Tab Area -->
            </div>

        </div>
    </section>
    <!-- =================================================
    About Area End -->
