<div class="page page-ui-buttons">
  <div class="page-wrap" ng-init="refreshHackingZoneList()">
    <div class="row">
      <!-- sub-header -->
			<div class="col-md-6">
				<h3 class="text-light">Collaborators</h3>
				<div class="panel panel-lined panel-hovered panel-stacked mb20">
					<div class="panel-body" ng-controller="SubheaderCtrl" style="padding: 0; margin: 5px 0">
						<md-content style="height: 200px;">
							<section>
								<md-subheader class="md-primary">+ add new collaborator</md-subheader>
								<md-list layout-padding>
									<md-list-item class="md-3-line" ng-repeat="collaborator in contributorslist">
										<img ng-src="{{message.face}}" class="md-avatar circle" alt="{{message.who}}">
										<div class="md-list-item-text">
											<h3>{{collaborator.top_user}}</h3>
											<h4>{{collaborator.profile}}</h4>
											<p>
												{{collaborator.notes}}
											</p>
										</div>
									</md-list-item>
								</md-list>
							</section>
						</md-content>
					</div>
				</div>
			</div> <!-- #end sub-header -->
      <!-- sub-header -->
			<div class="col-md-6">
				<h3 class="text-light">Resources</h3>
				<div class="panel panel-lined panel-hovered panel-stacked mb20">
					<div class="panel-body" ng-controller="SubheaderCtrl" style="padding: 0; margin: 5px 0">
						<md-content style="height: 200px;">
							<section>
								<md-subheader class="md-primary">+ add new resource</md-subheader>
								<md-list layout-padding>
									<md-list-item class="md-3-line" ng-repeat="message in messages">
										<img ng-src="{{message.face}}" class="md-avatar circle" alt="{{message.who}}">
										<div class="md-list-item-text">
											<h3>{{message.what}}</h3>
											<h4>{{message.who}}</h4>
											<p>
												{{message.notes}}
											</p>
										</div>
									</md-list-item>
								</md-list>
							</section>
						</md-content>
					</div>
				</div>
			</div> <!-- #end sub-header -->
    </div> <!--  #end row tag -->
    <!-- row -->
    <!-- tab orientations -->
    <div class="row">
      <h3 class="text-uppercase small text-bold mb20 ml15">Tabs</h3>
      <!-- variation one -->
      <div class="col-md-6 mb20">
        <div class="page-tabs-lead mb20">
          <h4 class="text-light">Public Notes</h4>
        </div>
        <tabset class="tabs-vertical">
          <tab heading="Home">
            <div class="clearfix">
              <div class="panel panel-default panel-hovered panel-stacked mb20">

      						<form class="form-inline" role="form">
      							<div class="form-group">
      								<div class="input-group">
      									<span class="input-group-addon ion ion-compose"></span>
      									<input type="email" class="form-control" placeholder="Enter tab name here...">
      								</div>
      							  <textarea ng-model="newproject.overview" columns="1" style="height: 100%; min-height: 300px; width: 100%"></textarea>
      							</div>
      						</form>

      				</div> <!-- #end panel -->
              <button type="submit" class="btn btn-pink btn-sm">Save</button>

            </div>
          </tab>
        </tabset>
      </div>
      <!-- #end variation one -->

      <!-- variation two -->
      <div class="col-md-6 mb20">
        <div class="page-tabs-lead mb20">
          <h4 class="text-light">Private Notes</h4>
        </div>
        <tabset class="tabs-vertical-right">
          <tab heading="Home">
            <div class="clearfix">
              <div class="panel panel-default panel-hovered panel-stacked mb20">

      						<form class="form-inline" role="form">
      							<div class="form-group">
      								<div class="input-group">
      									<span class="input-group-addon ion ion-compose"></span>
      									<input type="email" class="form-control" placeholder="Enter tab name here...">
      								</div>
      							  <textarea ng-model="newproject.overview" columns="1" style="height:100%;min-height:300px;width:100%"></textarea>
      							</div>
      						</form>

      				</div> <!-- #end panel -->
              <button type="submit" class="btn btn-pink btn-sm">Save</button>

            </div>
          </tab>
        </tabset>
      </div>
      <!-- #end variation two -->
    </div>
    <!-- #end row -->
  </div>
</div>
