<div class="page page-email" ng-controller="projectListCtrl">

	<!--<ol class="breadcrumb breadcrumb-small">
		<li>Home</li>
		<li class="active"><a href="#/material">Add New Project</a></li>
	</ol>-->


	<div class="page-wrap" ng-init="newproject = {}">
    <div class="row">
      <div class="col-md-3">
        <nav class="email-nav clearfix">
          <div class="xsmall nav-text-lead text-uppercase text-muted mb10">Create a Project</div>
          <ul class="list-unstyled navigation mb15">
            <li class="active"><a ng-click="addnewproject(newproject)" href="#/dashboard"><span class="ion ion-paper-airplane"></span>Submit</a></li>
            <li><a href="#/dashboard"><span class="ion ion-android-close"></span>Cancel</a></li>
          </ul>

          <div class="xsmall nav-text-lead text-uppercase text-muted mb10">Styles</div>
          <ul class="list-unstyled labels mb15">
            <li ng-repeat="label in labels">
              <a href="javascript:;"><span class="ion ion-record" ng-style="{color: label.color}"></span>{{newproject.style}}</a>
            </li>
          </ul>

        </nav>
      </div>

      <!-- input form -->
      <div class="col-md-9">
        <div class="panel panel-lined panel-hovered panel-stacked mb20">
          <!--<div class="panel-heading">Basic Usage</div>-->
          <div class="panel-body" ng-controller="MdInputDemo">
            <md-content md-theme="docs-dark" layout-padding>
              <form name="userForm">
                <div layout layout-sm="column">
                  <md-input-container>
                    <label>Title</label>
                    <input ng-model="newproject.title">
                  </md-input-container>
                </div>
                <div layout layout-sm="column">
                  <md-input-container style="width:80%">
                    <label>Overview</label>
                    <textarea ng-model="newproject.overview" columns="1" md-maxlength="150"></textarea> <!-- disable -->
                  </md-input-container>
                </div>
                <div layout layout-sm="column">
                  <md-input-container flex>
                    <label>Content</label>
                    <textarea ng-model="newproject.content" columns="1" md-maxlength="350"></textarea>
                  </md-input-container>
                </div>
                <div layout layout-sm="column">
                  <md-input-container flex>
                    <label>Private</label>
                    <textarea ng-model="newproject.private" columns="1" md-maxlength="350"></textarea>
                  </md-input-container>
                </div>
                <div layout layout-sm="column">
                  <md-input-container style="width:20%">
                    <label>Price $</label>
                    <input ng-model="newproject.price" disable> <!-- disable -->
                  </md-input-container>
                </div>
              </form>
            </md-content>
          </div>
        </div>
      </div> <!-- #col -->
    </div> <!-- row -->

  </div> <!-- #end page-wrap -->
</div>
