<div class="page page-dashboard" ng-controller="DashboardCtrl">

	<div class="page-wrap">

		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">Welcome to Market Codes</h4>
						<p class="small"><strong>AngularJS</strong> admin app</p>
					</div>
					<div class="right mt10">
						<span sparkline type="bar" bar-color="#4CAF50">10,8,4,10,7,0,3,4,6,5,9,12,9</span>
						<h5 class="text-bold mb0 mt5">$1,33,404</h5>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->

		<!-- mini boxes -->
		<div class="row" ng-controller="refreshProjectListCtrl">

			<!-- recent activities -->
			<div class="col-md-6 col-sm-6">
				<div class="panel panel-default mb20">
					<div class="panel-heading">News</div>
					<div class="panel-body">

					</div>
				</div>
			</div>
			<!-- #end recent activities -->

			<div class="col-md-6 col-sm-6" ng-init="refreshProjectList()">
				<div ng-repeat="project in projectlist" class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-primary text-bold">{{project.title}}</h4>
								<h5 class="text-light mb0">{{project.overview}}</h5>
							</div>
							<!-- class="right ion ion-ios-pulse icon" -->
							<div ng-class="{'ionTag': returnIonTag(project.phase)}"></div>
						</div>
					</div>
					<!-- class="panel-footer clearfix panel-footer-sm panel-footer-primary" -->
					<div ng-class="{'panelFooter': returnPanelFooter(project.phase)}">
						<p class="mt0 mb0 left"><a ng-click="select(project._id)" href="#/pages/hacking-zone" style="color: inherit">Hacking Zone</a></p>
						<span sparkline class="right" type="bar" bar-color="#fff" width="1.15em" height="1.15em">10,8,9,3,5,8,5</span>
					</div>
				</div>
			</div>
			<!-- #end mini boxes -->
		</div> <!-- #end row -->

	</div> <!-- #end page-wrap -->
</div>
