<!--    payment.html   -->

<!--<label for="cardnumber">Card Number:</label>
<input type="text" class="form-control" id="cardnumber" data-braintree-name="number" value="4111111111111111"  ng-model="payment.cardnumber">
<br>
<label for="expiration">Expriation Date:</label>
<input type="text" class="form-control" id="expiration" value="10/20" ng-model="payment.expirationdate">
<br>
<label for="CVVs">CVVs:</label>
<input type="text" class="form-control" id="CVVs"  data-braintree-name="cvv" value="100" ng-model="payment.cvv">
<br>-->

<!--
gateway.transaction.sale({
  amount: '10.00',
  paymentMethodNonce: nonceFromTheClient,
}, function (err, result) {
  console.log("transaction payment");
  console.log(result);
});-->
