
<!DOCTYPE html>
<html lang="en" ng-app="Demo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

      <title>STANLEY - Free Bootstrap Theme </title>

    <!-- Bootstrap Core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
   <link href="style-plain.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <!--<link href="assets/css/font-awesome.min.css" rel="stylesheet">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body ng-controller="AppController">

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">{{ proyect_title }}</a>
        </div>
      </div>
    </div>



   <!-- +++++ Welcome Section +++++ -->
   	<div id="ww">
   	    <div class="container">
   			<div class="row">
   				<div class="col-lg-8 col-lg-offset-2 centered">
   					<img src="user.png" alt="Stanley">
   					<h1>{{ proyect_scope }}</h1>
   					<p>{{ proyect_content }}</p>

   				</div><!-- /col-lg-8 -->
   			</div><!-- /row -->
   	    </div> <!-- /container -->
   	</div><!-- /ww -->


   <!-- +++++ Projects Section +++++ -->

	<div class="container pt">
		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href="#">More Info</a>
				<p>{{ proyect_rate }}</p>
        <p>{{ proyect_collaborators }}</p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->



	
   <!-- +++++ Footer Section +++++ -->

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>About</h4>
					<p>
						{{ proyect_user }}
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a>{{ proyect_contact }}</a>
					</p>
				</div><!-- /col-lg-4 -->
			</div>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Load scripts. -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ref></script>

    <script type="text/javascript">
      // Create an application module for our demo.
      var app = angular.module( "Demo", [] );
      // -------------------------------------------------- //
      // -------------------------------------------------- //
      // I control the root of the application.
      app.controller(
          "AppController",
          function( $scope, $location ) {
              $scope.proyect_title = null;
              $scope.proyect_scope = null;
              $scope.proyect_content = null;
              $scope.proyect_rate = null;
              $scope.proyect_collaborators = null;
              $scope.proyect_user = null;
              $scope.proyect_contact = null;

              // Listen for changes on the location and inspect the values.
              $scope.$on(
                  "$locationChangeStart",
                  function handleLocationChangeEvent( event ) {
                      // Pluck the userID out of the search - this is how we can
                      // access the value regardless of whether it was driven by the
                      // URL or driven by a programmatic change.
                      $scope.proyect_title = $location.search().proyect_title;
                      $scope.proyect_scope = $location.search().proyect_scope;
                      $scope.proyect_content = $location.search().proyect_content;
                      //$scope.proyect_title = $location.search().proyect_title;

                  }
              )

          }
      );
      </script>

  </body>
</html>
